{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    table tr th, table tr td {
        border: 1px #eee solid;
        padding: 5px;
    }
</style>
<div class="container text-center">
    <h1 class="text-center">Insert new book</h1>
    <a class="btn btn-success" href="/insertPage">Insert book</a>
    <h1 class="text-left">All books</h1>
    <table>
        <thead>
        <tr>
            <th>Book ID</th>
            <th>Book Title</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for book in  books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.book_title }}</td>
                <td>
                    <a type="button" class="btn btn-warning" href="/updatePage?book_id={{ book.book_id }}">Update</a>
                </td>
                <td>
                    <a type="button" class="btn btn-danger" href="/deleteBook?book_id={{ book.book_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partials/footer.twig' %}
