{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* style the form input fields */
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=tel] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    /* style the form submit button */
    button[type=submit] {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
</style>
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>Insert book</h4>
                </div>
                <div class="card-body">
                    <form action="/insertBook" method="POST">
                        <div class="form-group mb-0">
                            <label for="author">Book author:</label>
                            <select name="author">
                                {% for author in authors %}
                                    <option value="{{ author.author_id }}">{{ author.first_name ~ " " ~ author.last_name }}</option>
                                {% endfor %}
                            </select>
                            <p style=color:red> {{ errors['author'] | first }} </p>

                        </div>
                        <div>
                            <a class="toggle-form-author mb-5"
                               value="Add Items to Invoice" href="#insert-author">
                                If the author is not listed, click here and insert new</a>
                        </div>
                        <div class="form-group mt-2 mb-0">
                            <label for="category">Book category:</label>
                            <select name="category">
                                {% for category in categories %}
                                    <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                            <p style=color:red> {{ errors['category'] | first }} </p>

                        </div>
                        <div>
                            <a class="toggle-form-category mb-5"
                               value="Add Items to Invoice" href="#insert-category">
                                If the category is not listed, click here, and insert new</a>
                        </div>
                        <div class="form-group mt-3">
                            <label for="title">Book title:</label>
                            <input type="text" name="title" id="title" class="form-control"
                                   value="{{ oldInputs['title'] }}">
                            <p style=color:red> {{ errors['title'] | first }} </p>
                        </div>
                        <div class="form-group">
                            <label for="isbn">Book isbn:</label>
                            <input type="text" name="isbn" id="isbn" class="form-control"
                                   value="{{ oldInputs['isbn'] }}">
                            <p style=color:red> {{ errors['isbn'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="date">Date of publication:</label>
                            <input type="date" name="date" id="date" class="form-control"
                                   value="{{ oldInputs['date'] }}">
                            <p style=color:red> {{ errors['date'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="text" name="price" id="price" class="form-control">
                            <p style=color:red> {{ errors['price'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="description">Book description:</label>
                            <textarea name="description" id="description" rows="5" class="form-control"></textarea>
                            <p style=color:red> {{ errors['description'] | first }} </p>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-block mb-3 mt-3">Insert book</button>
                    </form>
                </div>
            </div>
            {% include 'authors/insert-author.twig' %}
            {% include 'categories/insert-category.twig' %}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const showTableAuthor = $(".show-item").find("span strong").length > 0;
        $(".toggle-author").toggle(showTableAuthor);

        $(".toggle-form-author").click(function () {
            $(".toggle-author").toggle('slow');
        });

        const showTableCategory = $(".show-item").find("span strong").length > 0;
        $(".toggle-category").toggle(showTableCategory);

        $(".toggle-form-category").click(function () {
            $(".toggle-category").toggle('slow');
        });
    });
</script>

{% include 'partials/footer.twig' %}
