{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* adjust input fields to two columns */
    .form-group {
        display: inline-block;
        width: 48%;
        margin-right: 1%;
        margin-bottom: 5px;
    }

    /* clear float on every 2n element */
    .form-group:nth-child(2n) {
        margin-right: 0;
        clear: both;
    }

    /* style the form input fields */
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=tel] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    /* style the form submit button */
    button[type=submit] {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }
</style>
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>Update book</h4>
                </div>
                <div class="card-body">
                    <form action="/updateBook" method="POST">
                        <div class="form-group">
                            <label for="title">Book title:</label>
                            <input type="text" name="book_title" id="title" class="form-control"
                                   value="{{ book['book_title'] }}">
                            <p style=color:red> {{ errors['title'] | first }} </p>
                        </div>
                        <div class="form-group">
                            <label for="isbn">Book isbn:</label>
                            <input type="text" name="isbn" id="isbn" class="form-control"
                                   value="{{ book['isbn'] }}">
                            <p style=color:red> {{ errors['isbn'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="date">Date of publication:</label>
                            <input type="date" name="date_of_publication" id="date" class="form-control"
                                   value="{{ book['date_of_publication'] }}">
                            <p style=color:red> {{ errors['date'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="text" name="price" id="price" class="form-control" value="{{ book['price'] }}">
                            <p style=color:red> {{ errors['price'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="description">Book description:</label>
                            <textarea name="book_description" id="description" rows="5" class="form-control"
                                      value="{{ book['book_description'] }}"></textarea>
                            <p style=color:red> {{ errors['description'] | first }} </p>
                        </div>
                        <input type="hidden" name="book_id" id="book_id" value="{{ book.book_id }}">
                        <br>
                        <button type="submit" class="btn btn-primary btn-block mb-3 mt-3">Update book</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/footer.twig' %}
