{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' with {'user': user} %}
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Library management system</h1>
        <p class="lead">Explore our vast collection of books and find your next favorite read.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Browse Books</a>
    </div>
</div>

<!-- Featured books section -->
<div class="container">
    <h2>Featured Books</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Book description goes here.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Book description goes here.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Book description goes here.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact section -->
<section id="contact" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2>Contact Us</h2>
                <hr class="my-4">
                <p class="mb-5">Have a question or feedback? Fill out the form below and we'll get back to you as
                    soon
                    as possible.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'partials/footer.twig' %}