<div class="card toggle-author mt-2">
    <div class="card-header bg-dark text-white">
        <h4>Insert author</h4>
    </div>
    <div class="card-body">
        <div class="row d-print-none">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <form action="/insertAuthor" method="POST">
                        <tr>
                            <th>First name</th>
                        </tr>
                        <tr>
                            <td class="show-item">
                                <input type="text" name="first_name" value="" class="form-control"
                                       placeholder="first_name"
                                       id="insert-author" autofocus>
                            </td>
                        </tr>
                        <tr>
                            <th>Last name</th>
                        </tr>
                        <tr>
                            <td class="show-item">
                                <input type="text" name="last_name" value="" class="form-control"
                                       placeholder="last_name"
                                       autofocus>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of birth</th>
                        </tr>
                        <tr>
                            <td class="show-item">
                                <div>
                                    <input type="date" name="date_of_birth" class="form-control"
                                           placeholder="date_of_birth">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Biography</th>
                        </tr>
                        <tr>
                            <td class="show-item">
                                <div>
                                    <textarea name="biography" value="" class="form-control"
                                              placeholder="biography"></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <button class="btn btn-success add_btn d-grid">Insert author</button>
                                </div>
                            </td>
                        </tr>
                    </form>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>