{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* adjust input fields to two columns */
    .form-group {
        margin-right: 1%;
        margin-bottom: 5px;
    }

    /* clear float on every 2n element */
    .form-group:nth-child(2n) {
        margin-right: 0;
        clear: both;
    }

    /* style the form input fields */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    /* style the form submit button */
    button[type=submit] {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    /* style the login link */
    .register {
        font-size: 15px;
        text-align: right;
        margin-top: 10px;
    }

    .register:hover {
        text-decoration: underline;
    }
</style>
{% if verificationTime is defined and verificationTime is null %}
    <div class="alert alert-danger" role="alert">
        Please verify your account, we sent confirmation link on your email address!
    </div>
{% endif %}
{% if verificationTime is defined and verificationTime is not null %}
    <div class="alert alert-success" role="alert">
        Verified!
    </div>
{% endif %}
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>User Login</h4>
                </div>
                <div class="card-body">
                    <form action="/userLogin" method="POST">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="username" id="username" class="form-control"
                                   value="{{ oldInputs['username'] }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <label class="remember"> Remember me: </label>
                        <input type="checkbox" name="remember" value="yes"><br><br>
                        <br>
                        <p style=color:red> {{ msg }} </p>
                        <br>
                        <a class="register" href="/registerPage">Don't have account? Register!</a><br>
                        <button type="submit" class="btn btn-primary btn-block mb-3 mt-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/footer.twig' %}