{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
    }

    table tr th, table tr td {
        border: 1px #eee solid;
        padding: 5px;
    }
</style>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Lastname</th>
    </tr>
    </thead>
    <tbody>
    {% for user in  users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'partials/footer.twig' %}
