{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    /* adjust input fields to two columns */
    .form-group {
        display: inline-block;
        width: 48%;
        margin-right: 1%;
        margin-bottom: 5px;
    }

    /* clear float on every 2n element */
    .form-group:nth-child(2n) {
        margin-right: 0;
        clear: both;
    }

    /* style the form input fields */
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=tel] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    /* style the form submit button */
    button[type=submit] {
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    /* style the login link */
    .login {
        font-size: 15px;
        text-align: right;
        margin-top: 10px;
    }

    .login:hover {
        text-decoration: underline;
    }
</style>
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>User Registration</h4>
                </div>
                <div class="card-body">
                    <form action="/insertUser" method="POST">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" name="name" id="name" class="form-control"
                                   value="{{ oldInputs['name'] }}">
                            <p style=color:red> {{ errors['name'] | first }} </p>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input type="text" name="lastname" id="lastname" class="form-control"
                                   value="{{ oldInputs['lastname'] }}">
                            <p style=color:red> {{ errors['lastname'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" name="address" id="address" class="form-control"
                                   value="{{ oldInputs['address'] }}">
                            <p style=color:red> {{ errors['address'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control"
                                   value="{{ oldInputs['email'] }}">
                            <p style=color:red> {{ errors['email'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="username" id="username" class="form-control"
                                   value="{{ oldInputs['username'] }}">
                            <p style=color:red> {{ errors['username'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" class="form-control">
                            <p style=color:red> {{ errors['password'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="password">Repeat Password:</label>
                            <input type="password" name="repeat_password" id="repeat_password" class="form-control">
                            <p style=color:red> {{ errors['repeat_password'] | first }} </p>

                        </div>
                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input type="tel" name="phone" id="phone" class="form-control"
                                   value="{{ oldInputs['phone'] }}">
                            <p style=color:red> {{ errors['phone'] | first }} </p>
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" name="city" id="city" class="form-control"
                                   value="{{ oldInputs['city'] }}">
                            <p style=color:red> {{ errors['city'] | first }} </p>

                        </div><br>
                        <a class="login" href="/loginPage">Already have account? Login!</a><br>
                        <button type="submit" class="btn btn-primary btn-block mb-3 mt-3">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.twig' %}