{% include 'partials/header.twig' %}
{% include 'partials/nav.twig' %}
<style>
    body {
        background: #f8f9fa;
    }

    .card {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .image {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    body {
        background-image: url('https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>User verify</h4>
                </div>
                <div class="card-body">
                    <form id="my-form" method="POST" action="/verifyEmail">
                        <input type="hidden" name="email" id="email" value="{{ data['email'] }}">
                        <button type="submit" class="btn btn-primary">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/footer.twig' %}