<div class="card toggle-category mt-2">
    <div class="card-header bg-dark text-white">
        <h4>Insert category</h4>
    </div>
    <div class="card-body">
        <div class="row toggle-table-category d-print-none">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <form action="/insertCategory" method="POST">
                        <tr>
                            <th>Category name</th>
                        </tr>
                        <tr>
                            <td class="show-item">
                                <input type="text" name="category_name" value="" class="form-control"
                                       id="insert-category" placeholder="Category name">
                            </td>
                        </tr>

                        <tr>
                            <th>Category description</th>
                        </tr>
                        <tr>
                            <td class="show-item">
                                <div>
                        <textarea name="category_description" value="" class="form-control"
                                  placeholder="category_description">
                        </textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <button class="btn btn-success add_btn d-grid">Insert category</button>
                                </div>
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>